In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
list_of_headers_fortune=['rank', 'company', 'sector', 'industry', 'profitable', 'founder_is_ceo',
       'female_ceo', 'growth_in_jobs', 'change_in_rank', 'gained_in_rank',
       'dropped_in_rank', 'newcomer_to_the_fortune500', 'global500',
       'best_companies', 'number_of_employees', 'marketcap_march31_m',
       'revenues_m', 'revenue_percentchange', 'profits_m',
       'profits_percentchange', 'assets_m', 'country', 'state',
       'marketcap_updated_m']

In [4]:
fortune_df = pd.read_excel('./data/excel_fortune_1000_cleaned_2.xlsx', names=list_of_headers_fortune)

In [5]:
fortune_df

,rank,company,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,gained_in_rank,...,number_of_employees,marketcap_march31_m,revenues_m,revenue_percentchange,profits_m,profits_percentchange,assets_m,country,state,marketcap_updated_m
0,1,Walmart,Retailing,General Merchandisers,1,0,0,0.0,0,0,...,2100000,397475.0,611289,6.7,11680,-14.6,243197,U.S.,Arkansas,416986.0
1,2,Amazon,Retailing,Internet Services and Retailing,0,0,0,0.0,0,0,...,1541000,1058440.0,513983,9.4,-2722,-108.2,462675,U.S.,Washington,1370373.0
2,3,Exxon Mobil,Energy,Petroleum Refining,1,0,0,0.0,3,1,...,62000,446424.0,413680,44.8,55740,141.9,369067,U.S.,Texas,409878.0
3,4,Apple,Technology,"Computers, Office Equipment",1,0,0,1.0,-1,0,...,164000,2609039.0,394328,7.8,99803,5.4,352755,U.S.,California,3051211.0
4,5,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0,0,...,400000,440854.0,324162,12.7,20120,16.4,245705,U.S.,Minnesota,450694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,TTEC Holdings,Technology,Information Technology Services,1,1,0,1.0,-33,0,...,69400,1758.0,2444,7.5,103,-26.8,2154,U.S.,Colorado,1758.0
996,997,ProFrac Holding,Energy,"Oil and Gas Equipment, Services",1,0,0,1.0,Unknown,Unknown,...,3664,2013.0,2426,215.7,92,NaN,2934,U.S.,Texas,2013.0
997,998,Summit Materials,Materials,"Building Materials, Glass",1,0,1,0.0,-61,0,...,4800,3374.0,2413,0.1,272,78.8,4256,U.S.,Colorado,3374.0
998,999,Teladoc Health,Health Care,Health Care: Pharmacy and Other Services,0,0,0,1.0,Unknown,Unknown,...,5208,4212.0,2407,18.4,-13660,NaN,4345,U.S.,New York,4212.0
999,1000,Alliance Resource Partners,Energy,"Mining, Crude-Oil Production",1,0,0,1.0,Unknown,Unknown,...,3371,2566.0,2407,53.3,577,224.0,2662,U.S.,Oklahoma,2566.0

In [6]:
fortune_df["sector"].unique()

array(['Retailing', 'Energy', 'Technology', 'Health Care', 'Financials',
       'Motor Vehicles & Parts', 'Food & Drug Stores',
       'Telecommunications', 'Food, Beverages & Tobacco',
       'Transportation', 'Media', 'Household Products', 'Industrials',
       'Wholesalers', 'Aerospace & Defense', 'Chemicals', 'Apparel',
       'Materials', 'Engineering & Construction',
       'Hotels, Restaurants & Leisure', 'Business Services'], dtype=object)

In [7]:
fortune_df["industry"].unique()

array(['General Merchandisers', 'Internet Services and Retailing',
       'Petroleum Refining', 'Computers, Office Equipment',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Insurance: Property and Casualty (Stock)',
       'Wholesalers: Health Care', 'Computer Software',
       'Motor Vehicles & Parts', 'Specialty Retailers: Other',
       'Commercial Banks', 'Food and Drug Stores', 'Telecommunications',
       'Diversified Financials', 'Food Production',
       'Mail, Package, and Freight Delivery', 'Pharmaceuticals',
       'Pipelines', 'Insurance: Property and Casualty (Mutual)',
       'Food Consumer Products', 'Entertainment',
       'Mining, Crude-Oil Production', 'Household and Personal Products',
       'Industrial Machinery', 'Insurance: Life, Health (stock)',
       'Wholesalers: Food and Grocery', 'Aerospace & Defense',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Electronics and Office Equipment',
       'Information Technology Services',
       'Health Care: Medical Facilities',
       'Construction and Farm Machinery', 'Energy',
       'Insurance: Life, Health (Mutual)', 'Chemicals',
       'Network and Other Communications Equipment', 'Airlines',
       'Specialty Retailers: Apparel', 'Apparel',
       'Scientific, Photographic and Control Equipment',
       'Medical Products and Equipment', 'Beverages', 'Metals',
       'Electronics, Electrical Equip.', 'Homebuilders',
       'Automotive Retailing, Services', 'Food Services', 'Tobacco',
       'Real estate', 'Financial Data Services',
       'Utilities: Gas and Electric', 'Railroads',
       'Transportation and Logistics', 'Building Materials, Glass',
       'Securities', 'Wholesalers: Diversified', 'Packaging, Containers',
       'Oil and Gas Equipment, Services', 'Hotels, Casinos, Resorts',
       'Temporary Help', 'Waste Management',
       'Home Equipment, Furnishings', 'Engineering & Construction',
       'Diversified Outsourcing Services', 'Trucking, Truck Leasing',
       'Advertising, marketing', 'Equipment Leasing',
       'Publishing, Printing', 'Forest and Paper Products',
       'Transportation Equipment', 'Toys, Sporting Goods', 'Shipping',
       'Miscellaneous'], dtype=object)

In [8]:
fortune_df["sector"].value_counts()

sector
Financials                       161
Technology                       117
Energy                           115
Health Care                       80
Retailing                         72
Business Services                 52
Industrials                       49
Materials                         48
Transportation                    39
Food, Beverages & Tobacco         33
Wholesalers                       31
Engineering & Construction        31
Chemicals                         28
Hotels, Restaurants & Leisure     28
Media                             28
Household Products                20
Motor Vehicles & Parts            18
Aerospace & Defense               16
Apparel                           16
Food & Drug Stores                 9
Telecommunications                 9
Name: count, dtype: int64

In [97]:
fortune_df["industry"].unique()

array(['General Merchandisers', 'Internet Services and Retailing',
       'Petroleum Refining', 'Computers, Office Equipment',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Insurance: Property and Casualty (Stock)',
       'Wholesalers: Health Care', 'Computer Software',
       'Motor Vehicles & Parts', 'Specialty Retailers: Other',
       'Commercial Banks', 'Food and Drug Stores', 'Telecommunications',
       'Diversified Financials', 'Food Production',
       'Mail, Package, and Freight Delivery', 'Pharmaceuticals',
       'Pipelines', 'Insurance: Property and Casualty (Mutual)',
       'Food Consumer Products', 'Entertainment',
       'Mining, Crude-Oil Production', 'Household and Personal Products',
       'Industrial Machinery', 'Insurance: Life, Health (stock)',
       'Wholesalers: Food and Grocery', 'Aerospace & Defense',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Electronics and Office Equipment',
       'Information Technology Services',
       'Health Care: Medical Facilities',
       'Construction and Farm Machinery', 'Energy',
       'Insurance: Life, Health (Mutual)', 'Chemicals',
       'Network and Other Communications Equipment', 'Airlines',
       'Specialty Retailers: Apparel', 'Apparel',
       'Scientific, Photographic and Control Equipment',
       'Medical Products and Equipment', 'Beverages', 'Metals',
       'Electronics, Electrical Equip.', 'Homebuilders',
       'Automotive Retailing, Services', 'Food Services', 'Tobacco',
       'Real estate', 'Financial Data Services',
       'Utilities: Gas and Electric', 'Railroads',
       'Transportation and Logistics', 'Building Materials, Glass',
       'Securities', 'Wholesalers: Diversified', 'Packaging, Containers',
       'Oil and Gas Equipment, Services', 'Hotels, Casinos, Resorts',
       'Temporary Help', 'Waste Management',
       'Home Equipment, Furnishings', 'Engineering & Construction',
       'Diversified Outsourcing Services', 'Trucking, Truck Leasing',
       'Advertising, marketing', 'Equipment Leasing',
       'Publishing, Printing', 'Forest and Paper Products',
       'Transportation Equipment', 'Toys, Sporting Goods', 'Shipping',
       'Miscellaneous'], dtype=object)

In [98]:
fortune_df.columns

Index(['rank', 'company', 'sector', 'industry', 'profitable', 'founder_is_ceo',
       'female_ceo', 'growth_in_jobs', 'change_in_rank', 'gained_in_rank',
       'dropped_in_rank', 'newcomer_to_the_fortune500', 'global500',
       'best_companies', 'number_of_employees', 'marketcap_march31_m',
       'revenues_m', 'revenue_percentchange', 'profits_m',
       'profits_percentchange', 'assets_m', 'country', 'state',
       'marketcap_updated_m'],
      dtype='object')

In [112]:
revenues_df = fortune_df.groupby('state')['revenues_m'].sum()

In [113]:
revenues_df

state
Alabama             19737
Arizona            208199
Arkansas           712971
California        2498045
Colorado           216378
Connecticut        479424
Delaware            42253
Florida            500991
Georgia            630174
Hawaii              10726
Idaho              115131
Illinois          1062786
Indiana            338004
Iowa                30445
Kansas              23543
Kentucky           116512
Louisiana           37422
Maine                3367
Maryland           144825
Massachusetts      479216
Michigan           636030
Minnesota          781571
Missouri           284277
Nebraska           364456
Nevada              56973
New Hampshire        8229
New Jersey         424686
New York          1839027
North Carolina     509491
North Dakota         6974
Ohio              1059139
Oklahoma            93299
Oregon              87473
Pennsylvania       734460
Rhode Island       386184
South Carolina      15512
South Dakota         2552
Tennessee          345147
Texas             2823657
Utah                 8940
Virginia           661482
Washington        1116617
Wisconsin          188473
Name: revenues_m, dtype: int64

In [114]:
revenues_df.to_excel("revenues_output.xlsx", sheet_name="Sheet_name_1")

In [ ]:
export_df.to_excel("excel_output.xlsx", sheet_name='Sheet_name_1')

In [106]:
group_df = fortune_df.groupby('state')

In [107]:
group_df

In [108]:
group_df.get_group('California')

,rank,company,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,gained_in_rank,...,number_of_employees,marketcap_march31_m,revenues_m,revenue_percentchange,profits_m,profits_percentchange,assets_m,country,state,marketcap_updated_m
3,4,Apple,Technology,"Computers, Office Equipment",1,0,0,1.0,-1,0,...,164000,2609039.0,394328,7.8,99803,5.4,352755,U.S.,California,3051211.0
7,8,Alphabet,Technology,Internet Services and Retailing,1,0,0,1.0,0,0,...,190234,1330201.0,282836,9.8,59972,-21.1,365264,U.S.,California,1585270.0
9,10,Chevron,Energy,Petroleum Refining,1,0,0,1.0,6,1,...,43846,311093.0,246252,51.6,35465,127.0,257709,U.S.,California,290714.0
30,31,Meta Platforms,Technology,Internet Services and Retailing,1,1,0,1.0,-4,0,...,86482,549484.0,116609,-1.1,23200,-41.1,185727,U.S.,California,796036.0
46,47,Wells Fargo,Financials,Commercial Banks,1,0,0,0.0,-6,0,...,238000,141188.0,82859,0.5,13182,-38.8,1881016,U.S.,California,164093.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,957,East West Bancorp,Financials,Commercial Banks,1,0,0,1.0,Unknown,Unknown,...,3155,7826.0,2620,37.6,1128,29.2,64112,U.S.,California,7826.0
964,965,PennyMac Financial Services,Financials,Diversified Financials,1,0,0,0.0,-310,0,...,4135,2983.0,2599,-41.6,476,-52.6,16823,U.S.,California,2983.0
969,970,Envista Holdings,Health Care,Medical Products and Equipment,1,0,0,1.0,-118,0,...,12700,6673.0,2581,-11.7,243,-28.6,6587,U.S.,California,6673.0
982,983,DocuSign,Technology,Computer Software,0,0,0,0.0,17,1,...,7336,11771.0,2516,19.4,-98,NaN,3013,U.S.,California,11771.0
987,988,TTM Technologies,Technology,"Electronics, Electrical Equip.",1,0,0,1.0,-18,0,...,17800,1384.0,2495,11.0,95,73.8,3324,U.S.,California,1384.0

In [64]:
group_df.size()

state
Alabama             3
Arizona            24
Arkansas            6
California        123
Colorado           26
Connecticut        28
Delaware            7
Florida            39
Georgia            35
Hawaii              3
Idaho               4
Illinois           59
Indiana            19
Iowa                2
Kansas              4
Kentucky            6
Louisiana           3
Maine               1
Maryland           10
Massachusetts      31
Michigan           29
Minnesota          26
Missouri           19
Nebraska            7
Nevada             10
New Hampshire       2
New Jersey         24
New York           82
North Carolina     30
North Dakota        1
Ohio               54
Oklahoma           10
Oregon              6
Pennsylvania       42
Rhode Island        7
South Carolina      3
South Dakota        1
Tennessee          23
Texas             109
Utah                3
Virginia           36
Washington         17
Wisconsin          20
dtype: int64

In [63]:
group_df.groups

{'Alabama': [482, 493, 656], 'Arizona': [162, 170, 246, 265, 307, 308, 378, 453, 456, 489, 507, 521, 529, 540, 545, 556, 714, 734, 747, 785, 890, 908, 918, 957], 'Arkansas': [0, 79, 181, 279, 510, 620], 'California': [3, 7, 9, 30, 46, 47, 61, 62, 63, 81, 97, 122, 125, 126, 128, 132, 136, 147, 149, 151, 153, 154, 166, 179, 220, 222, 232, 233, 239, 240, 247, 264, 284, 294, 311, 312, 320, 392, 415, 436, 437, 439, 449, 455, 457, 470, 480, 483, 487, 490, 496, 498, 499, 504, 511, 517, 519, 524, 530, 552, 554, 555, 559, 561, 568, 570, 574, 603, 604, 610, 611, 613, 616, 622, 625, 635, 641, 647, 657, 683, 686, 702, 706, 708, 723, 733, 736, 737, 742, 766, 775, 782, 794, 795, 801, 803, 804, 808, 818, 841, ...], 'Colorado': [108, 248, 268, 275, 328, 339, 341, 347, 348, 356, 503, 594, 694, 697, 724, 774, 790, 811, 815, 839, 845, 892, 980, 984, 995, 997], 'Connecticut': [14, 78, 127, 173, 226, 234, 242, 305, 325, 354, 366, 368, 422, 477, 505, 539, 589, 605, 624, 650, 701, 735, 814, 833, 894, 938, 960, 994], 'Delaware': [249, 523, 579, 763, 831, 867, 972], 'Florida': [69, 77, 118, 120, 150, 186, 195, 216, 245, 278, 282, 293, 316, 344, 358, 362, 388, 393, 401, 434, 445, 488, 494, 542, 606, 642, 646, 674, 703, 765, 770, 806, 807, 842, 914, 933, 934, 954, 976], 'Georgia': [19, 36, 84, 99, 137, 178, 182, 206, 258, 267, 319, 323, 350, 383, 400, 407, 408, 424, 473, 502, 639, 663, 677, 698, 717, 740, 741, 791, 830, 866, 903, 919, 939, 945, 988], 'Hawaii': [711, 783, 953], 'Idaho': [52, 135, 450, 732], 'Illinois': [26, 34, 43, 72, 80, 83, 95, 98, 116, 130, 152, 165, 168, 189, 217, 259, 271, 272, 273, 318, 359, 360, 364, 373, 382, 417, 442, 444, 446, 461, 467, 468, 476, 515, 522, 553, 581, 590, 600, 614, 618, 619, 645, 676, 729, 738, 746, 749, 758, 759, 781, 846, 870, 873, 925, 927, 935, 943, 983], 'Indiana': [21, 141, 145, 175, 237, 253, 283, 508, 585, 623, 633, 643, 658, 673, 704, 805, 901, 930, 985], 'Iowa': [235, 315], 'Kansas': [363, 644, 761, 838], 'Kentucky': [41, 520, 654, 739, 750, 752], 'Louisiana': [236, 301, 565], 'Maine': [834], 'Maryland': [59, 161, 191, 536, 547, 593, 655, 753, 796, 966], 'Massachusetts': [51, 85, 86, 96, 103, 209, 210, 219, 295, 304, 322, 334, 335, 343, 372, 385, 426, 607, 636, 659, 681, 715, 744, 798, 813, 854, 871, 877, 896, 936, 979], 'Michigan': [18, 20, 74, 146, 188, 202, 211, 223, 261, 269, 281, 337, 361, 398, 402, 428, 435, 440, 572, 587, 651, 691, 748, 778, 800, 898, 928, 948, 981], 'Minnesota': [4, 32, 89, 93, 115, 148, 159, 212, 218, 270, 288, 292, 329, 411, 423, 513, 532, 535, 546, 566, 653, 693, 780, 850, 884, 911], 'Missouri': [24, 205, 256, 286, 332, 377, 409, 479, 527, 544, 583, 637, 649, 685, 786, 827, 883, 899, 958], 'Nebraska': [6, 158, 306, 327, 710, 792, 853], 'Nevada': [314, 353, 592, 652, 709, 712, 777, 810, 909, 959], 'New Hampshire': [640, 875], 'New Jersey': [39, 66, 68, 91, 207, 208, 250, 345, 390, 391, 433, 441, 462, 471, 516, 567, 617, 661, 762, 773, 809, 886, 902, 905], 'New York': [22, 25, 35, 37, 45, 53, 54, 58, 60, 64, 70, 75, 76, 94, 102, 111, 117, 133, 157, 176, 192, 200, 224, 227, 228, 230, 263, 280, 289, 291, 296, 297, 299, 324, 331, 338, 355, 357, 365, 370, 380, 396, 416, 421, 429, 431, 438, 443, 474, 495, 501, 526, 558, 560, 571, 578, 580, 595, 609, 621, 629, 679, 680, 682, 690, 745, 787, 789, 802, 817, 856, 861, 864, 878, 885, 891, 924, 942, 946, 963, 971, 998], 'North Carolina': [31, 38, 101, 114, 140, 156, 277, 285, 298, 367, 414, 447, 492, 537, 538, 550, 557, 564, 577, 597, 599, 601, 615, 638, 664, 675, 756, 869, 955, 974], 'North Dakota': [514], 'Ohio': [13, 15, 23, 50, 82, 87, 169, 177, 190, 204, 238, 260, 313, 342, 371, 386, 394, 410, 420, 458, 464, 465, 472, 481, 509, 518, 525, 533, 548, 549, 582, 596, 608, 612, 628, 668, 695, 705, 713, 728, 755, 757, 769, 776, 788, 812, 822, 828, 848, 929, 949, 968, 973, 993], 'Oklahoma': [172, 215, 349, 369, 406, 466, 832, 860, 970, 999], 'Oregon': [92, 144, 823, 826, 895, 951], 'Pennsylvania': [10, 28, 160, 167, 180, 185, 221, 231, 252, 255, 310, 321, 330, 333, 379, 381, 387, 413, 425, 452, 469, 484, 486, 541, 551, 569, 588, 598, 648, 662, 665, 670, 671, 688, 821, 840, 847, 879, 897, 907, 920, 926], 'Rhode Island': [5, 138, 317, 418, 584, 707, 962], 'South Carolina': [497, 667, 816], 'South Dakota': [975], 'Tennessee': [40, 65, 107, 183, 197, 257, 290, 336, 346, 376, 626, 716, 726, 731, 743, 820, 824, 825, 829, 857, 912, 961, 977], 'Texas': [2, 8, 16, 17, 29, 33, 42, 48, 49, 55, 67, 71, 73, 88, 100, 106, 109, 113, 119, 121, 129, 134, 142, 155, 163, 164, 171, 174, 184, 187, 196, 198, 199, 203, 213, 214, 243, 251, 262, 274, 276, 302, 303, 309, 340, 395, 399, 404, 405, 412, 419, 427, 432, 463, 491, 500, 506, 512, 531, 534, 543, 573, 575, 576, 627, 631, 632, 669, 672, 700, 718, 721, 725, 727, 730, 751, 760, 764, 767, 771, 772, 784, 793, 797, 799, 819, 835, 836, 859, 862, 863, 868, 876, 880, 881, 882, 889, 910, 921, 923, ...], 'Utah': [844, 893, 965], 'Virginia': [44, 56, 57, 90, 104, 105, 112, 123, 143, 193, 241, 254, 287, 326, 351, 374, 375, 389, 430, 448, 451, 459, 478, 485, 563, 678, 687, 692, 722, 754, 855, 900, 906, 931, 967, 986], 'Washington': [1, 11, 12, 124, 139, 194, 244, 266, 352, 384, 397, 460, 562, 586, 684, 719, 944], 'Wisconsin': [110, 201, 225, 229, 300, 403, 454, 475, 528, 591, 630, 634, 660, 666, 689, 696, 720, 768, 779, 865]}

In [59]:
#fortune_df.groupby('state')['sector'].agg(['count'])

In [9]:
#titanic_df.groupby(["Pclass","Survived"])['Fare'].mean()

In [44]:
#grouped_fortune_df = fortune_df.groupby(['state', "sector"])["industry"].describe()

In [49]:
#grouped_fortune_df = fortune_df.groupby('state')["sector"].describe()

In [76]:
grouped_fortune_df = fortune_df.groupby('state')["sector"].count()

In [78]:
grouped_fortune_df

state
Alabama             3
Arizona            24
Arkansas            6
California        123
Colorado           26
Connecticut        28
Delaware            7
Florida            39
Georgia            35
Hawaii              3
Idaho               4
Illinois           59
Indiana            19
Iowa                2
Kansas              4
Kentucky            6
Louisiana           3
Maine               1
Maryland           10
Massachusetts      31
Michigan           29
Minnesota          26
Missouri           19
Nebraska            7
Nevada             10
New Hampshire       2
New Jersey         24
New York           82
North Carolina     30
North Dakota        1
Ohio               54
Oklahoma           10
Oregon              6
Pennsylvania       42
Rhode Island        7
South Carolina      3
South Dakota        1
Tennessee          23
Texas             109
Utah                3
Virginia           36
Washington         17
Wisconsin          20
Name: sector, dtype: int64

In [69]:
#new_df.rename(columns={'headquarters_state':'state'}, inplace=True)

In [70]:
#grouped_fortune_df.to_excel("grouped_fortune.xlsx", sheet_name='Sheet_name_1')

In [80]:
list_of_headers_hdi = ["rank", "state", "HDI"]

In [81]:
hdi_df = pd.read_excel('./data/excel_wikipedia.xlsx', names=list_of_headers_hdi)

In [82]:
#hdi_df

In [83]:
merged_df = pd.merge(grouped_fortune_df, hdi_df, on="state")

In [84]:
merged_df.head(30)

             state  sector  rank    HDI
0          Alabama       3    48  0.877
1          Arizona      24    37  0.906
2         Arkansas       6    46  0.880
3       California     123    15  0.935
4         Colorado      26     3  0.952
5      Connecticut      28     6  0.950
6         Delaware       7    29  0.922
7          Florida      39    26  0.925
8          Georgia      35    38  0.905
9           Hawaii       3     7  0.947
10           Idaho       4    31  0.916
11        Illinois      59    18  0.932
12         Indiana      19    40  0.903
13            Iowa       2    28  0.923
14          Kansas       4    30  0.921
15        Kentucky       6    47  0.879
16       Louisiana       3    45  0.881
17           Maine       1    22  0.929
18        Maryland      10    10  0.942
19   Massachusetts      31     1  0.956
20        Michigan      29    32  0.913
21       Minnesota      26     5  0.951
22        Missouri      19    39  0.904
23        Nebraska       7    19  0.931
24          Nevada      10    33  0.910
25   New Hampshire       2     1  0.956
26      New Jersey      24     9  0.943
27        New York      82    13  0.937
28  North Carolina      30    34  0.908
29    North Dakota       1    16  0.934

In [93]:
grouped_fortune_df = fortune_df.groupby('state')[["sector", "industry"]].describe()

In [94]:
grouped_fortune_df

               sector                                            industry  \
                count unique                            top freq    count
state
Alabama             3      3                     Financials    1        3
Arizona            24     11                     Technology    8       24
Arkansas            6      3                      Retailing    3        6
California        123     15                     Technology   52      123
Colorado           26     13                         Energy    8       26
Connecticut        28     12                     Financials    6       28
Delaware            7      4                      Chemicals    3        7
Florida            39     15     Engineering & Construction    5       39
Georgia            35     14                     Financials    6       35
Hawaii              3      2                 Transportation    2        3
Idaho               4      4             Food & Drug Stores    1        4
Illinois           59     16                     Financials   13       59
Indiana            19      7                    Health Care    4       19
Iowa                2      2                     Financials    1        2
Kansas              4      4      Food, Beverages & Tobacco    1        4
Kentucky            6      5  Hotels, Restaurants & Leisure    2        6
Louisiana           3      3             Telecommunications    1        3
Maine               1      1                    Health Care    1        1
Maryland           10      9                     Financials    2       10
Massachusetts      31     10                     Technology    8       31
Michigan           29     14         Motor Vehicles & Parts    9       29
Minnesota          26     12                     Financials    5       26
Missouri           19      9                     Financials    4       19
Nebraska            7      5                     Financials    2        7
Nevada             10      5  Hotels, Restaurants & Leisure    6       10
New Hampshire       2      2              Business Services    1        2
New Jersey         24      9                    Health Care    7       24
New York           82     18                     Financials   31       82
North Carolina     30     13                      Materials    5       30
North Dakota        1      1                         Energy    1        1
Ohio               54     17                     Financials   10       54
Oklahoma           10      1                         Energy   10       10
Oregon              6      5                        Apparel    2        6
Pennsylvania       42     16                    Health Care    7       42
Rhode Island        7      5                     Financials    3        7
South Carolina      3      2                      Materials    2        3
South Dakota        1      1                         Energy    1        1
Tennessee          23      9                    Health Care    7       23
Texas             109     18                         Energy   46      109
Utah                3      2                     Financials    2        3
Virginia           36     13            Aerospace & Defense    7       36
Washington         17      9                      Retailing    6       17
Wisconsin          20      9                    Industrials    6       20


               unique                                             top freq
state
Alabama             3                                Commercial Banks    1
Arizona            18  Semiconductors and Other Electronic Components    4
Arkansas            4                           General Merchandisers    2
California         41                               Computer Software   15
Colorado           19                    Mining, Crude-Oil Production    6
Connecticut        22                            Industrial Machinery    3
Delaware            5                                       Chemicals    3
Florida            30                        Hotels, Casinos, Resorts    3
Georgia            25                        Wholesalers: Diversified    5
Hawaii              3                                        Shipping    1
Idaho               4                            Food and Drug Stores    1
Illinois           37                          Food Consumer Products    4
Indiana            14                          Motor Vehicles & Parts    4
Iowa                2                 Insurance: Life, Health (stock)    1
Kansas              4                                 Food Production    1
Kentucky            5                                   Food Services    2
Louisiana           3                              Telecommunications    1
Maine               1                  Medical Products and Equipment    1
Maryland           10                             Aerospace & Defense    1
Massachusetts      19  Semiconductors and Other Electronic Components    4
Michigan           17                          Motor Vehicles & Parts    9
Minnesota          21                                       Chemicals    3
Missouri           15                                      Securities    2
Nebraska            7        Insurance: Property and Casualty (Stock)    1
Nevada              5                        Hotels, Casinos, Resorts    6
New Hampshire       2                Diversified Outsourcing Services    1
New Jersey         17                                 Pharmaceuticals    5
New York           35                                Commercial Banks    7
North Carolina     20                                Commercial Banks    3
North Dakota        1                                          Energy    1
Ohio               29                            Industrial Machinery    5
Oklahoma            3                                       Pipelines    4
Oregon              5                                         Apparel    2
Pennsylvania       27                                          Metals    3
Rhode Island        7        Health Care: Pharmacy and Other Services    1
South Carolina      3                           Packaging, Containers    1
South Dakota        1                     Utilities: Gas and Electric    1
Tennessee          17                 Health Care: Medical Facilities    5
Texas              44                    Mining, Crude-Oil Production   16
Utah                3                                Commercial Banks    1
Virginia           21                             Aerospace & Defense    7
Washington         13                 Internet Services and Retailing    4
Wisconsin          16                  Electronics, Electrical Equip.    3