In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
list_of_headers_fortune=['rank', 'company', 'sector', 'industry', 'profitable', 'founder_is_ceo',
       'female_ceo', 'growth_in_jobs', 'change_in_rank', 'gained_in_rank',
       'dropped_in_rank', 'newcomer_to_the_fortune500', 'global500',
       'best_companies', 'number_of_employees', 'marketcap_march31_m',
       'revenues_m', 'revenue_percentchange', 'profits_m',
       'profits_percentchange', 'assets_m', 'country', 'headquarters_state',
       'marketcap_updated_m']

In [3]:
fortune_df = pd.read_excel('./data/excel_fortune_1000_cleaned_2.xlsx', names=list_of_headers_fortune)

In [4]:
fortune_df

,rank,company,sector,industry,profitable,founder_is_ceo,female_ceo,growth_in_jobs,change_in_rank,gained_in_rank,...,number_of_employees,marketcap_march31_m,revenues_m,revenue_percentchange,profits_m,profits_percentchange,assets_m,country,headquarters_state,marketcap_updated_m
0,1,Walmart,Retailing,General Merchandisers,1,0,0,0.0,0,0,...,2100000,397475.0,611289,6.7,11680,-14.6,243197,U.S.,Arkansas,416986.0
1,2,Amazon,Retailing,Internet Services and Retailing,0,0,0,0.0,0,0,...,1541000,1058440.0,513983,9.4,-2722,-108.2,462675,U.S.,Washington,1370373.0
2,3,Exxon Mobil,Energy,Petroleum Refining,1,0,0,0.0,3,1,...,62000,446424.0,413680,44.8,55740,141.9,369067,U.S.,Texas,409878.0
3,4,Apple,Technology,"Computers, Office Equipment",1,0,0,1.0,-1,0,...,164000,2609039.0,394328,7.8,99803,5.4,352755,U.S.,California,3051211.0
4,5,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,1,0,0,1.0,0,0,...,400000,440854.0,324162,12.7,20120,16.4,245705,U.S.,Minnesota,450694.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,TTEC Holdings,Technology,Information Technology Services,1,1,0,1.0,-33,0,...,69400,1758.0,2444,7.5,103,-26.8,2154,U.S.,Colorado,1758.0
996,997,ProFrac Holding,Energy,"Oil and Gas Equipment, Services",1,0,0,1.0,Unknown,Unknown,...,3664,2013.0,2426,215.7,92,NaN,2934,U.S.,Texas,2013.0
997,998,Summit Materials,Materials,"Building Materials, Glass",1,0,1,0.0,-61,0,...,4800,3374.0,2413,0.1,272,78.8,4256,U.S.,Colorado,3374.0
998,999,Teladoc Health,Health Care,Health Care: Pharmacy and Other Services,0,0,0,1.0,Unknown,Unknown,...,5208,4212.0,2407,18.4,-13660,NaN,4345,U.S.,New York,4212.0
999,1000,Alliance Resource Partners,Energy,"Mining, Crude-Oil Production",1,0,0,1.0,Unknown,Unknown,...,3371,2566.0,2407,53.3,577,224.0,2662,U.S.,Oklahoma,2566.0

In [37]:
fortune_df["sector"].unique()

array(['Retailing', 'Energy', 'Technology', 'Health Care', 'Financials',
       'Motor Vehicles & Parts', 'Food & Drug Stores',
       'Telecommunications', 'Food, Beverages & Tobacco',
       'Transportation', 'Media', 'Household Products', 'Industrials',
       'Wholesalers', 'Aerospace & Defense', 'Chemicals', 'Apparel',
       'Materials', 'Engineering & Construction',
       'Hotels, Restaurants & Leisure', 'Business Services'], dtype=object)

In [42]:
fortune_df["industry"].unique()

array(['General Merchandisers', 'Internet Services and Retailing',
       'Petroleum Refining', 'Computers, Office Equipment',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Insurance: Property and Casualty (Stock)',
       'Wholesalers: Health Care', 'Computer Software',
       'Motor Vehicles & Parts', 'Specialty Retailers: Other',
       'Commercial Banks', 'Food and Drug Stores', 'Telecommunications',
       'Diversified Financials', 'Food Production',
       'Mail, Package, and Freight Delivery', 'Pharmaceuticals',
       'Pipelines', 'Insurance: Property and Casualty (Mutual)',
       'Food Consumer Products', 'Entertainment',
       'Mining, Crude-Oil Production', 'Household and Personal Products',
       'Industrial Machinery', 'Insurance: Life, Health (stock)',
       'Wholesalers: Food and Grocery', 'Aerospace & Defense',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Electronics and Office Equipment',
       'Information Technology Services',
       'Health Care: Medical Facilities',
       'Construction and Farm Machinery', 'Energy',
       'Insurance: Life, Health (Mutual)', 'Chemicals',
       'Network and Other Communications Equipment', 'Airlines',
       'Specialty Retailers: Apparel', 'Apparel',
       'Scientific, Photographic and Control Equipment',
       'Medical Products and Equipment', 'Beverages', 'Metals',
       'Electronics, Electrical Equip.', 'Homebuilders',
       'Automotive Retailing, Services', 'Food Services', 'Tobacco',
       'Real estate', 'Financial Data Services',
       'Utilities: Gas and Electric', 'Railroads',
       'Transportation and Logistics', 'Building Materials, Glass',
       'Securities', 'Wholesalers: Diversified', 'Packaging, Containers',
       'Oil and Gas Equipment, Services', 'Hotels, Casinos, Resorts',
       'Temporary Help', 'Waste Management',
       'Home Equipment, Furnishings', 'Engineering & Construction',
       'Diversified Outsourcing Services', 'Trucking, Truck Leasing',
       'Advertising, marketing', 'Equipment Leasing',
       'Publishing, Printing', 'Forest and Paper Products',
       'Transportation Equipment', 'Toys, Sporting Goods', 'Shipping',
       'Miscellaneous'], dtype=object)

In [12]:
fortune_df["sector"].value_counts()

sector
Financials                       161
Technology                       117
Energy                           115
Health Care                       80
Retailing                         72
Business Services                 52
Industrials                       49
Materials                         48
Transportation                    39
Food, Beverages & Tobacco         33
Wholesalers                       31
Engineering & Construction        31
Chemicals                         28
Hotels, Restaurants & Leisure     28
Media                             28
Household Products                20
Motor Vehicles & Parts            18
Aerospace & Defense               16
Apparel                           16
Food & Drug Stores                 9
Telecommunications                 9
Name: count, dtype: int64

In [38]:
group_df = fortune_df.groupby('headquarters_state')["sector"].describe()

#### Count of Companies by State, incl. top sector'

In [39]:
group2_df = fortune_df.groupby('sector')["headquarters_state"].describe()

In [40]:
group2_df.head()

                    count unique       top freq
sector
Aerospace & Defense    16     10  Virginia    7
Apparel                16      8  New York    4
Business Services      51     19  New York    9
Chemicals              28     15      Ohio    4
Energy                115     30     Texas   46

In [41]:
group_df

                   count unique                            top freq
headquarters_state
Alabama                3      3                     Financials    1
Arizona               24     11                     Technology    8
Arkansas               6      3                      Retailing    3
California           123     15                     Technology   52
Colorado              26     13                         Energy    8
Connecticut           28     12                     Financials    6
Delaware               7      4                      Chemicals    3
Florida               39     15     Engineering & Construction    5
Georgia               35     14                     Financials    6
Hawaii                 3      2                 Transportation    2
Idaho                  4      4             Food & Drug Stores    1
Illinois              59     16                     Financials   13
Indiana               19      7                    Health Care    4
Iowa                   2      2                     Financials    1
Kansas                 4      4      Food, Beverages & Tobacco    1
Kentucky               6      5  Hotels, Restaurants & Leisure    2
Louisiana              3      3             Telecommunications    1
Maine                  1      1                    Health Care    1
Maryland              10      9                     Financials    2
Massachusetts         31     10                     Technology    8
Michigan              29     14         Motor Vehicles & Parts    9
Minnesota             26     12                     Financials    5
Missouri              19      9                     Financials    4
Nebraska               7      5                     Financials    2
Nevada                10      5  Hotels, Restaurants & Leisure    6
New Hampshire          2      2              Business Services    1
New Jersey            24      9                    Health Care    7
New York              82     18                     Financials   31
North Carolina        30     13                      Materials    5
North Dakota           1      1                         Energy    1
Ohio                  54     17                     Financials   10
Oklahoma              10      1                         Energy   10
Oregon                 6      5                        Apparel    2
Pennsylvania          42     16                    Health Care    7
Rhode Island           7      5                     Financials    3
South Carolina         3      2                      Materials    2
South Dakota           1      1                         Energy    1
Tennessee             23      9                    Health Care    7
Texas                109     18                         Energy   46
Utah                   3      2                     Financials    2
Virginia              36     13            Aerospace & Defense    7
Washington            17      9                      Retailing    6
Wisconsin             20      9                    Industrials    6

In [29]:
group_df = fortune_df.groupby('headquarters_state')["industry"].describe()

group2_df